

.fuelPrice-con{
    height: max-content;
    background-color: var(--siteGrey2);
    padding: 10px;
}

.innner-price-con{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.head-name{
    display: flex;
    font-size: 12px;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid var(--mainblue);
    width: max-content;
    font-weight: 600;
}

.head-name.comp-prices{
     font-weight: 300;
}

.head-name.comp-prices{
     font-size: 11px;
}

.head-name .name1{
    width: 100px;
 
    display: flex;
}

.head-name .name1 span{
    width: 25px;
    height: 25px;
    background-color: var(--mainblue);
    margin-right: 5px;
}

.head-name .name1 span img{
    display: none;
}


.prod{
    width: 50px;
    margin: 0 5px;
}



/* transport fare css here....................................................... */

.transport-fare-con{
    margin: 0 0 20px;
}

.tabs{
    display: flex;
    gap: 10px;
}

.tab{
    display: block;
    width: 50%;
    padding: 10px;
    background-color: var(--siteGrey2);
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
}

.tab.active{
    background-color: var(--mainblue);
    color: white;
}

.tab:hover{
    background-color: var(--secblue);
    color: white;
}

.fuelPrice-con{
    background-color: transparent;
}

.company-name-here{
    font-weight: 600;
    margin: 10px 0 5px;
}

.pricing-box{
    width: 100%;
    height: max-content;
    background-color: var(--siteGrey2);
    padding: 10px;
    gap: 20px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.group-list{
    width: 50%;
   
}

.travel-distance{
    display:flex;
    border-bottom: 1px solid var(--mainblue);
    padding: 5px 0;
     justify-content: space-between;
}

.td-name{
    max-width: 250px;
    height: 20px;
    /* background-color: red; */
    display: block;
}

.td-price{
    color: var(--secblue);
    font-weight: 700;
}


.submitBtn.transport{
    padding: 10px 30px;
    margin: 10px 0;
}


/* forex table css ............................................. */

.stations-grp.forextable{
    margin: 0 0 20px;
}

.stations-grp.forextable .head-name.comp-prices .name1{
    height: 50px;
}


.currency1{
    display: flex;
    gap: 10px;
}





